header {
  background: linear-gradient(to right, #1c2f3d 0%, #51798d 100%);
}
.App-header{
  height: 75px;
}

.MuiDrawer-paper {
  width: 60% !important;
  }
  
  @media (max-width: 1024px) {
      .MuiDrawer-paper {
   width: 100% !important;
   }
  }
.Header-text-gradient{
  background: #3F1B13;
  background: linear-gradient(to top right, #3F1B13 0%, #75402E 50%, #E5BA95 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}